#hd {
  margin-bottom: 1em;
  border-bottom: 1px solid #333;
  font-weight: bold;
  color: #333;
}

#hd a, #hd a:visited, #ft a, #ft a:visited {
  color: #333;
  text-decoration: none;
}

#hd a:hover, #ft a:hover {
  color: #666;
}

#ft {
  margin-top: 1em;
  font-size: 77%;
  border-top: 1px solid #333;
  color: #333;
  text-align: right;
}

.books {
  margin: 1em 0;
  padding: 0;
}
.book {
  display: block;
  float: left;
  width: 10%;
  text-align: center;
}

.book a {
  padding: 1em 0;
  text-decoration: none;
  color: #333;
  display: block;
  border: 1px solid #eee;
}

.books, .pages {
  margin: 0;
}

.book_title {
	font-size: 197%;
}
.pages_count, .lines_count {
	font-size: 77%;
}
.page {
  display: block;
  float: left;
  width: 4%;
  text-align: center;
}

.page a, .page a:visited {
  text-decoration: none;
  color: #333;
  display: block;
  border: 1px solid #fff;
  line-height: 1.75em;
}

.book a:hover, .page a:hover {
  border: 1px solid #333;
}

.fresh {
  background-color: #fdd;
}

.inprogress {
  background-color: #ffb;  
}

.done {
  background-color: #dfd;
}

.lines input[type="radio"] {
  float: right;
}

.line {
  float: left;
  width: 100%;
  border: 1px solid #fff;
  border-bottom: 1px solid #ccc;
}

.term {
  display: block;
  width: 42em;
  float: left;
}

.tree_number {
  display: block;
  width: 25em;
  float: left;
}

#new_term {
  margin-left: -0.35em;
  margin-right: 0.1em;
  padding: 0 0.1em;
  width: 41.8em;
  border: 1px solid #333;
}
#line_term_string {
  border: 1px solid #fff;
  width: 99.35%;
  height: 1.5em;
}

input[disabled="disabled"]#line_term_string, input[disabled="disabled"]#line_tree_number {
  border: 1px solid #ccc;
}

#new_line_tree_number {
  margin-right: 0.25em;
  width: 24.5em;
  border: 1px solid #333;
}
#line_tree_number {
  border: 1px solid #fff;
  width: 99%;
  height: 1.5em;
}

#new_line input[type="submit"] {
  float: right;
}

.level0 {
  padding-left: 0;
}

.level1 {
  padding-left: 1em;
}

.level2 {
  padding-left: 2em;
}

.level3 {
  padding-left: 3em;
}

.level4 {
  padding-left: 4em;
}

.level5 {
  padding-left: 5em;
}

.level6 {
  padding-left: 6em;
}

.level7 {
  padding-left: 7em;
}

.level8 {
  padding-left: 8em;
}

.level9 {
  padding-left: 9em;
}

.level10 {
  padding-left: 10em;
}

.level11 {
  padding-left: 11em;
}

.level12 {
  padding-left: 12em;
}
