<h1>Books</h1>
<ul class="books" id="books">
<% @books.each do |book| -%>
  <li class="book" id="<%= dom_id(book) %>"><%=link_to "<div class=\"book_title\">#{book.title}</div><div class=\"pages_count\">#{book.pages_count} pages</div><div class=\"lines_count\">#{book.lines_count} lines</div></li>", book_url(book.title) %>
<% end -%>
</ul>
