<h1><%= @book.title %> (<%= @book.pages.size %>)</h1>

<ul class="pages">
<% for page in @book.pages -%>
  <li class="page"><%= link_to page.name, page_url(:book_title => @book.title, :page_name => page.name) %></li>
<% end -%>
</ul>
